<div id="ptr0y_entries">
	{% if ptr0y.entries %}
		{% for entry in ptr0y.entries %}

			<div class='ptr0y_entry' data-label='{{entry.label}}'>
				<b>{{entry.label}}</b>
				<span>Last used: {{entry.last_used}}</span>
			</div>

		{% endfor %}
	{% endif %}
</div>