{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<!--- // NAVBAR ///////////////////////////////////////////////////////////////////// --> 
	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<a class="site-logo" href="{{site.url}}">
						{{logo}}
					</a>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'menu': menus.primary.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>


		<!--- // BODY /////////////////////////////////////////////////////////////////// -->
		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>SKERE: {{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>


		<!--- // FOOTER //////////////////////////////////////////////////////////////// -->
		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
