{% extends "main.twig" %}

{% block main %}

<div class="inline-block one-fifth card full-height">

	{% include 'parts/dashboard/left-items.twig' %}

</div>

<div id='main-view' class="inline-block three-fifths card">

	{% include 'parts/dashboard/core-items.twig' %}

</div>

<div class="inline-block one-fifth card full-height">
	<a href="{{logout_url}}">Log out</a>
</div>

{% endblock %}