{% extends "main.twig" %}

{% block main %}

<div class='centered small-card top-align'>
	{% if auth_error %}
	<script>document.display_error = true;</script>
	<div class='ptr0y-error'>
		{{auth_error}}
	</div>
	{% endif %}
	<div id='clishare_login' class='card'>
		<h4>Sign in</h4>
		<form name='clishare_login' action="" method="post">
			<input type='text' name='login_email'>
			<input type='password' name='login_password'>
			<input class='fullwidth' type='submit' value='sign in'>
		</form>
		<!-- <center>
			<a href="/recovery">Have you lost your password?</a>
		</center> -->
	</div>
</div>

{% endblock %}