{% extends "main.twig" %}

{% block main %}

<div class='centered small-card top-align'>
	{% if auth_error %}
	<script>document.display_error = true;</script>
	<div class='ptr0y-error'>
		{{auth_error}}
	</div>
	{% endif %}
	<div id='ptr0y_login' class='card'>
		<h4>Recovery</h4>
		<form name='ptr0y_recovery' action="" method="post">
			<input type='password' name='recovery_email'>
			<input class='fullwidth' type='submit' value='send recovery link'>
		</form>
		<center>
			<a href="/login">Back to login</a>
		</center>
	</div>
</div>

{% endblock %}