{% extends "main.twig" %}

{% block main %}

<div class='centered small-card top-align'>
	{% if auth_error %}
	<script>document.display_error = true;</script>
	<div class='ptr0y-error'>
		{{auth_error}}
	</div>
	{% endif %}
	<div id='ptr0y_login' class='card'>
		<h4>Sign Up</h4>
		<form name='clishare_signup' action="" method="post">
			<input type='text' name='signup_username' placeholder='username'>
			<input type='text' name='signup_email' placeholder='email'>
			<input type='password' name='signup_password'>
			<input class='fullwidth' type='submit' value='sign up'>
		</form>
	</div>
</div>

{% endblock %}