/*
Theme Name: Clishare
Theme URI: https://ptroy.io/
Author: Filippo kn0t Teodori
Author URI: https://ptroy.io/
Description: Main Clishare theme.
Version: 0.1
*/

@import url('https://fonts.googleapis.com/css?family=Amiko|Fira+Code|Teko:500&display=swap');

#particles-js {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

body {
	background: rgb(17, 17, 17);
	color: rgb(186, 181, 171);
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Teko', sans-serif;
	font-weight: 400;
}

a {
	color: rgb(181, 181, 181);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.card {
	background: #151616;
	border-radius: 3px;
	padding: 10px;
}

.small-card {
	max-width: 290px;
}

.card h4 {
	color: rgb(181, 181, 181);
	font-size: 25px;
	margin-bottom: 5px;
}

input[type='text'], 
input[type='password'] {
	color: rgb(208, 204, 197);
	background-color: rgb(17, 17, 17);
	border: 1px solid rgb(181, 181, 181);
	border-radius: 5px;

	padding-bottom: 4px;
	padding-left: 5px;
	width: 100%;
	max-width: 350px;
	font-size: 16px;
	margin-bottom: 10px;
	font-family: 'Teko', sans-serif;
	padding: 10px;
	box-sizing: border-box;
}

input[type='submit'],
button {
	color: rgb(181, 181, 181);
	background-color: rgb(17, 17, 17);
	border: 1px solid rgb(181, 181, 181);
	border-radius: 5px;
	font-size: 20px;
	margin-bottom: 10px;
	padding: 10px;
	padding-bottom: 6px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-family: 'Teko', sans-serif;
	letter-spacing: 0px;
	transition-duration: 0.3s;
}

input[type='submit']:hover,
button:hover {
	color: white;
	background: rgb(181, 181, 181);
}

.fullwidth {
	width: 100%;
}

.ptr0y-error,
.ptr0y-info {
	display: none;
}

.ptr0y-info {
	color: white;
	background: #46b490;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
}

.ptr0y-error {
	color: white;
	background: #b34848;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.top-align {
	margin-top: 20vh;
}

/*/////////////////////////////////////////////*/

button:hover,
input[type='submit']:hover {
	cursor:pointer;
}

h1,h2,h3,h4,h5,h6,.title {
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	margin: 0;
}

h6 {
	font-size: 18px;
	letter-spacing: 1px;
}

body .container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 15px;
}

.hidden {
	display: none;
}

#main-view {
	background: #1f1b24;
	padding: 15px;
}

.inline-block {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.one-fifth {
	width: 19.9%;
}

.three-fifths {
	width: 58.97%;
}

/*.card {
	box-sizing: border-box;
	margin: 1px;
}*/

/*.card > div {
	background: #181a1b;
	padding: 15px;
	margin-bottom: 2px solid #f2f2f2;
	margin-bottom: 4px;
	position: relative;
}*/

/*.card div h6 {
	margin-bottom: 5px;
}

.card div.inline_title > h6{
	display: inline-block;
	position:relative;
	vertical-align: top;
	width: 60%;
}

.card div button,
input[type='submit'] {
	padding-top: 6px;
	padding-bottom: 2px;
	font-size: 15px;
	font-family: 'Amiko', sans-serif;
	width: 30%;
	border: 2px solid #BBAB88;
	color: #FFF5BD;
	background: #181A1B;
	float: right;
	text-transform: uppercase;
}

.card .ptr0y_entry {
	margin-top: 20px;
	border-bottom: 1px solid #353535;
    padding-bottom: 10px;
    font-size: 12px;
}

.card .ptr0y_entry b {
	display: block;
	font-size: 15px;
}*/

.full-height {
	min-height: 80vh;
}

/*
.ptr0y_error {
	font-size: 13px;
	background: #2f1a1a !important;
	display: none;
}
*/

.ptr0y_entry:hover {
	cursor: pointer;
}

.ptr0y_password {
	width: 100%;
	text-align: center;
	padding: 20px 0;
	font-family: "Fira Code", monospace;
	font-size: 24px;
	color: #BBAB88;
}

.ptr0y_actions {
	text-align: center;
}

.ptr0y_actions button {
	float: none !important;
}

#ptr0y-rest-message {
	width: 100%;
	text-align: center;
	font-size: 24px;
}
