{% for item_id, item in items.dashboard.core %}
    <div id="{{item_id}}" class="{{item.classes}}">
    	{% if item.title %}
			<h6>{{item.title}}</h6>
		{% endif %}
		{% if item.includes %}
			{% for include_file in item.includes %}
			    {% include include_file %}
			{% endfor %}
		{% endif %}
		<!-- Item render -->
	</div>
{% endfor %}