{% for item in items.dashboard.left %}
    <div class="{{item.classes}}">
		<h6>{{item.title}}</h6>
		{% if item.includes %}
			{% for include_file in item.includes %}
			    {% include include_file %}
			{% endfor %}
		{% endif %}
		<!-- Item render -->
	</div>
{% endfor %}